.container {
  width: 100%;

  @media screen and (min-width: $sm) {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: $md) {
    max-width: 720px;
  }
  @media screen and (min-width: $lg) {
    max-width: 960px;
  }
  @media screen and (min-width: $xl) and (orientation: landscape) {
    max-width: 1140px;
  }
  @media screen and (min-width: $xxl) and (orientation: landscape) {
    max-width: 1320px;
  }
}

html {
  @media screen and (min-width: $lg) and (orientation: landscape) {
    font-size: 1.2rem;
  }
}
